@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Say hello!</h2>
        <p>
            Your name: <input id="name" />&nbsp;&nbsp;
            <button type="button" id="button">Submit</button>
            <br /><br />
            <span id="output" style="font-weight: bold"></span>
        </p>
    </div>
</div>

<script src="~/Scripts/app/HomePageService.js"></script>